:root {
  --stats-size-xs: 300px;
  --stats-size-sm: 360px;
  --stats-size-md: 450px;
  --stats-size-lg: 500px;

  --custom-tooltip-background: #000;
  --custom-tooltip-border-color: #fff; 
}

.stats-container {
  width: var(--stats-size-xs);
  height: var(--stats-size-xs);

  @media (min-width: 480px) {
    width: var(--stats-size-sm);
    height: var(--stats-size-sm);
  }

  @media (min-width: 576px) {
    width: var(--stats-size-md);
    height: var(--stats-size-md);
  }

  @media (min-width: 768px) {
    width: var(--stats-size-lg);
    height: var(--stats-size-lg);
  }
}

.custom-tooltip { 
  background-color: var(--custom-tooltip-background); 
  padding: 1rem; 
  border: 2px solid var(--custom-tooltip-border-color);
}