.info-container {
  position: fixed;
  background-color: black;
  left: 50%; 
  top: 50%;   
  transform: translate(-50%, -50%);
  width: 90%; 
  height: 90%; 
  z-index: 100000; 
  display: block; 
  opacity: 0.95; 
  border: 2px solid #141414;
}

.info-container > * { 
  color: white; 
  font-family: 'Orbitron', sans-serif;
}

.close-btn { 
  position: absolute; 
  font-size: 2rem; 
  right: 10px; 
  cursor: default; 
}

.loading-text { 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  font-size: 2rem; 
}