.info-container {
  background-color: black;
  width: 300px; 
  z-index: 100000; 
  display: block; 
  position: absolute;
  left: 50%; 
  top: 50%;   
  transform: translate(-50%, -50%);
  opacity: 0.95; 
  border: 2px solid #141414;
}

.info-container > * { 
  color: white; 
}

.close-btn { 
  position: absolute; 
  font-size: 2rem; 
  right: 10px; 
  cursor: default; 
}