@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.App { 
  min-height: 100vh; 
  background-color: black; 
}

h1 { 
  font-family: 'Orbitron', sans-serif;
  color: white; 
  margin: 0; 
  padding-top: 1rem; 
  text-align: center;                          
}