@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.App { 
  min-height: 100vh; 
  background-image: 
    linear-gradient(to right, #3a3b3c 1px, transparent 1px),
    linear-gradient(to bottom, #3a3b3c 1px, transparent 1px);
  background-size: 50px 50px; /* Size of the grid squares */
  background-color: #000000; /* Background color */
}


h1 { 
  font-family: 'Orbitron', sans-serif;
  color: white; 
  margin: 0; 
  padding-top: 1rem; 
  text-align: center;                          
}